.containsNSFW .content img {
  filter: url(#nsfwBlur);
  transform: translateZ(0);
}

.containsNSFW .content a {
  user-select: none;
  pointer-events: none;
}

.agreement {
  display: block;
  margin-bottom: 80px;
  text-align: center;
}

.agreement + .content {
  margin-left: 4.5rem  !important;
}