[component="post"].containsNSFW {

  & .content img,
  &+.mini-content img {
    filter: url(#nsfwBlur);
    transform: translateZ(0);
  }

  & .content a,
  & .content img,
  &+.mini-content a,
  &+.mini-content img {
    user-select: none;
    pointer-events: none;
  }

  & .afn_agreement {
    display: block;
  }
}

[component="post"]:not(.containsNSFW) .afn_agreement {
  display: none;
}

.afn_agreement {
  margin-bottom: 80px;
  text-align: center;

  &+.content {
    margin-left: 4.5rem !important;
  }
}